.button {
  background: transparent;
  border: none;
  padding: 0;

  &__icon {
    padding: 10px;

    &--slider {
      padding: 20px;
      margin: 10px 25px 10px 10px;
      border: 2px solid #fff;

      &-right {
        transform: rotate(180deg);
        margin: 10px 10px 10px 25px;
      }
    }
  }

  &--slider {
    display: none;

    @media screen and (min-width: $breakpoint-2) {
      display: block;
    }
  }

  &--form {
    font-weight: 600;
  }

  &--circle {
    width: 1.3rem;
    height: 1.3rem;
    font-size: $font-size-1;
    color: $bg-color-2;
    background: $border-color-2;
    border-radius: 0.6rem;
  }

  @media screen and (min-width: $breakpoint-1) {
    &--menu {
      display: none;
    }
  }
}
