.footer {
  font-size: $font-size-1;
  margin: 1.25rem 0;

  &__section {
    padding: 0 5px;
  }

  &__img {
    width: 100%;
    max-width: 20rem;
  }

  &__p {
    font-weight: bold;
  }

  &__select {
    border: none;
  }

  &__link {
    font-size: 0.75rem;
    font-weight: bold;
    color: $font-color;

    &:hover {
      color: $font-color;
    }
  }

  &__label {
    color: $font-color-2;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    margin: 2.2rem 0;
    width: 100%;

    &--links,
    &--form {
      justify-content: space-between;
    }

    &--form {
      padding: 0 0 2.2rem 0;
      margin-bottom: 1.3rem;
      border-bottom: 1px solid $border-color;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-flow: column nowrap;

    &__section {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    &__row {
      flex: 0 0 33%;

      &--form {
        flex: 0 0 20%;
        padding: 0;
        border: none;
      }
    }

    &__link {
      padding: 0.5rem;
    }
  }
}
