.grid-item {
  width: 100%;
  height: auto;
  position: relative;
  margin: 10px 0;

  &__img {
    @extend %w-100-h;
  }

  &__img--wide {
    min-height: 15.3rem;
    object-fit: cover;
  }

  &__info {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  &__name {
    font-size: $font-size-2;
    font-weight: 600;
  }

  &__link {
    color: $font-color;
    font-size: $font-size-1;
    font-weight: 600;

    &--line {
      border-bottom: 2px solid $border-color-2;
    }

    &:hover {
      color: $font-color;
      text-decoration: none;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 5px;
    margin: 0;

    &--main {
      grid-area: 1 / 1 / 3 / 2;
    }

    &--square {
      grid-area: 1 / 2 / 2 / 3;
    }

    &--square-2 {
      grid-area: 1 / 3 / 2 / 4;
    }

    &--wide {
      grid-area: 2 / 2 / 3 / 4;
    }

    &__img--wide {
      min-height: auto;
    }
  }
}
