.section {
  font-size: $font-size-1;
  max-width: 1330px;
  margin-top: 50px;

  &__title {
    font-size: $font-size-2;
    text-align: center;

    &--new {
      margin: 3.75rem 0;
    }

    &--newsletter {
      margin: 2.4rem 0;
    }
  }

  &__overlay {
    width: 100%;
    min-height: 63vh;
    object-fit: cover;
  }

  &__link {
    display: block;
    color: $font-color;
    padding: 18px 30px;
    border: 2px solid $border-color-2;

    &:hover {
      color: $font-color;
    }
  }

  &__footer {
    @extend %flex-row;
    justify-content: center;
    margin: 20px 0 0 0;
  }

  &--new {
    padding: 0 22.5px;
  }

  &--start {
    margin-top: -3.6rem;
    width: 100%;
    max-width: 100%;
  }

  &--newsletter {
    text-align: center;
    max-width: 41rem;
  }

  @media screen and (min-width: $breakpoint-1) {
    font-size: $font-size-4;
    margin-top: 100px;

    &--start {
      margin-top: -3.6rem;
    }

    &--campaigns {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1.44fr 1fr 1fr;
    }

    &__title {
      font-size: $font-size-3;
    }
  }
}
