.slider {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 50px 0;
  background: $bg-color-1;

  &__content {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    max-width: 1330px;
    justify-content: flex-start;
  }

  &-item {
    margin: 0 15px;
    position: relative;

    &__info {
      color: $bg-color-2;
      position: absolute;
      bottom: 20px;
      left: 20px;
    }

    &__price {
      font-weight: bold;
    }

    &__name,
    &__price {
      font-size: $font-size-1;
      margin: 0;
    }
  }
}
